@using LogicaNegocio
@model LogicaNegocio.TipoDeGasto

<div class="d-flex flex-column gap-2 w-60 justify-content-center align-items-center border">
    <h2>Eliminar Gasto</h2>

    <form method="post" class="d-flex flex-column gap-2 p-4 w-100">
        <div>
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" readonly>
        </div>
        <div>
            <label for="Descripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" value="@Model.Descripcion" readonly>
        </div>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>

    @if (ViewBag.Mensaje != null)
    {
        <span class="alert alert-info text-center">@ViewBag.Mensaje</span>
    }
</div>