@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@if (!string.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger text-center">
        @ViewBag.Mensaje
    </div>
}

<form method="post">
    <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" name="Email">
    </div>
    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" class="form-control" name="Contrasena">
    </div>
    <button type="submit" class=" btn btn-primary">Login</button>
</form>